<ion-header>
    <ion-toolbar>
        <ion-title>Demo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <div class="ion-padding-vertical">
                <form [formGroup]="loginForm" (submit)="submit()">
                    <div>
                        <mat-form-field class="input-large">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput formControlName="user" [(ngModel)]="user" required>
                            <mat-error *ngIf="loginForm.controls.user.touched && loginForm.controls.user.invalid">
                                <span *ngIf="loginForm.controls.user.errors.required">Ingresa tu usuario.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="ion-padding vertical">
                        <mat-form-field class="input-large">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" type="password" required />
                            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                                <span *ngIf="loginForm.controls.password.errors.required" color="warn">Ingresa tu contraseña.</span
                            >
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <button mat-raised-button color="primary" type="submit" class="ion-padding-horizontal ion-padding-vertical">
                        Ingresar
                      </button>
                </form>
            </div>
        </ion-card>

    </div>

</ion-content>